<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="./bootstrap.php"
>
    <testsuites>
        <testsuite name="TrickOrEat Test Suite">
            <directory>./../tests/</directory>
        </testsuite>
    </testsuites>
    <!--Use this section to execute specific groups. Leave it commented out if you want to run all tests-->
    <groups>
                <include>
                    <group>Auth</group>
                    <group>Event</group>
                    <group>Feedback</group>
                    <group>Region</group>
                    <group>Request-Password</group>
                    <group>Reset-Password</group>
                    <group>Route-Archive</group>
                    <group>Route-new</group>
                    <group>Route</group>
                    <group>Team</group>
                    <group>User</group>
                    <group>Zone</group>
                </include>
        <exclude>
            <group>Route-broken</group>
        </exclude>
    </groups>

    <php>
        <env name="TOE_LOG_FILE" value=""/>
    </php>
</phpunit>