<div>
	<footer flex class="dark-no-font-change">
		<div hide-gt-sm flex layout="column" layout-align="center stretch">
			<div class="dark-no-font-change" flex>
				<img src="/img/cfs-meal-exchange-small-transparent.gif" flex layout-fill>
			</div>
			<md-divider></md-divider>
			<div flex class="dark-no-font-change" layout="row" layout-wrap layout-margin layout-fill layout-align="center center">
				<a class="footer-link" ng-repeat="link in $ctrl.links" ng-href="{{link.href}}">{{link.display}}</a>
			</div>
			<md-divider></md-divider>
			<div flex class="dark-no-font-change" layout="column" layout-align="space-around center">
				<div flex>
					<h4 class="footer-heading">Charitable Registration #</h4>
				</div>
				<div flex>
					<p class="footer-p">84052 4581 RR0001</p>
				</div>
			</div>
			<md-divider></md-divider>
			<div flex class="dark-no-font-change" layout="column" layout-fill layout-align="start center">
				<div flex="15"><h4 class="footer-heading">Contact Info</h4></div>
				<div flex="15"><p class="footer-p">401 Richmond Street West, Suite 365</p></div>
				<div flex="15"><p class="footer-p">Toronto, Ontario M5V 3A8</p></div>
				<div flex="15"><p class="footer-p">P: 416-657-4489</p></div>
				<div flex="15"><p class="footer-p"><a href="mailto:whereits@mealexchange.com" class="no-style-anchor">E: whereits@mealexchange.com</a></p></div>
			</div>
		</div>
		<div hide show-gt-sm layout="row" layout-align="center stretch">
			<div class="dark-no-font-change" flex layout="column" layout-align="center stretch">
				<img src="/img/cfs-meal-exchange-small-transparent.gif" flex >
				<div flex="80"> </div>
			</div>
			<div flex class="dark-no-font-change" layout="column" layout-margin layout-fill layout-align="start start">
				<div flex>
					<h4 class="footer-heading">Main</h4>
				</div>
				<a class="footer-link" ng-repeat="link in $ctrl.links" ng-href="{{link.href}}">{{link.display}}</a>
			</div>
			<div flex class="dark-no-font-change" layout="column" layout-margin layout-fill layout-align="start start">
				<div flex>
					<h4 class="footer-heading">Charitable Registration #</h4>
				</div>
				<div flex>
					<p class="footer-p">84052 4581 RR0001</p>
				</div>
			</div>
			<div flex class="dark-no-font-change" layout="column" layout-align="start start" layout-fill>
				<div flex><h4 class="footer-heading">Contact Info</h4></div>
				
				<div flex layout="row" layout-align="start start" layout-wrap layout-fill>
					<md-icon flex="10" class="footer-p">location_on</md-icon>
					<p class="footer-p" flex>401 Richmond Street West, Suite 365, Toronto, Ontario M5V 3A8</p>
				</div>
				
				<div flex layout="row" layout-align="start start" layout-fill>
					<md-icon flex="10" class="footer-p">phone</md-icon>
					<p class="footer-p" flex>P: 416-657-4489</p>
				</div>
				<div flex layout="row" layout-align="start start" layout-fill>
					<md-icon flex="10" class="footer-p">email</md-icon>
					<p class="footer-p" flex>E: whereits@mealexchange.com</p>
				</div>
			</div>
		</div>
	</footer>
</div>