<!--https://github.com/angular/angular-seed-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content=""/>
	<meta name="author" content="matt.jourard"/>
	<title><%= htmlWebpackPlugin.options.title %></title>
	<link href="img/icons/pumpkin.png" rel="shortcut icon" type="image/x-icon">
	<!-- icon sets -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- end of icon sets -->

	<!-- google maps api -->
	<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=<%= htmlWebpackPlugin.options.GOOGLE_MAPS_API_KEY %>&libraries=places">
	</script>
</head>
<body ng-app="app" layout="column" ng-strict-di>
	<page-header></page-header>
	<div class="modal" ng-show="loadingView">
		<!-- This div holds the loading animation for the website -->
		<div class="loading-wrap">
			<div class="loading">
				<div class="bounceball"></div>
				<div class="loading-text">NOW LOADING</div>
			</div>
		</div>
	</div>
	<div ng-view="" flex="grow"></div>
	<page-footer></page-footer>
</body>
</html>