<?xml version="1.0" encoding="UTF-8"?>
<!-- in /app/phpunit.xml -->
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./bootstrap.php"
>
    <testsuites>
        <testsuite name="TrickOrEat Test Suite">
            <directory>./../tests/</directory>
        </testsuite>
    </testsuites>

    <!--Use this section to execute specific groups. Leave it commented out if you want to run all tests-->
<!--    <groups>-->
<!--        <include>-->
<!--            <group>Feedback</group>-->
<!--            &lt;!&ndash;<group>Request-Password</group>&ndash;&gt;-->
<!--            &lt;!&ndash;<group>Reset-Password</group>&ndash;&gt;-->
<!--        </include>-->
<!--        <exclude>-->
<!--            <group>Route-broken</group>-->
<!--        </exclude>-->
<!--    </groups>-->

    <php>
        <!--<server name="APP_DIR" value="/var/www/silexsandbox/app" />-->
        <env name="dev_mode" value="on" />
    </php>
</phpunit>