<?xml version="1.0" encoding="UTF-8"?>
<!-- in /app/phpunit.xml -->
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="./bootstrap.php"
>
    <testsuites>
        <testsuite name="TrickOrEat Test Suite">
            <directory>./../tests/</directory>
        </testsuite>
    </testsuites>

    <!--Use this section to execute specific groups. Leave it commented out if you want to run all tests-->
    <groups>
        <include>
<!--            <group>Event</group>-->
<!--            <group>Feedback</group>-->
<!--            <group>Request-Password</group>-->
<!--            <group>Reset-Password</group>-->
<!--            <group>Team</group>-->
<!--            <group>Route</group>-->
<!--            <group>Auth</group>-->
<!--            <group>Region</group>-->
<!--            <group>Route-Archive</group>-->
<!--            <group>Route-new</group>-->
<!--            <group>User</group>-->
<!--            <group>Zone</group>-->
<!--            <group>default</group>-->
        </include>
        <exclude>
            <group>Route-broken</group>
        </exclude>
    </groups>

    <php>
        <!--<server name="APP_DIR" value="/var/www/silexsandbox/app" />-->
        <env name="dev_mode" value="on" />
        <env name="TOE_DEBUG_ON" value="true" />
        <env name="TOE_DATABASE_HOST" value="127.0.0.1" />
        <env name="TOE_DATABASE_PORT" value="3306" />
        <env name="TOE_DATABASE_USER" value="root" />
        <env name="TOE_DATABASE_PASSWORD" value="example" />
        <env name="TOE_REDIS_PASSWORD" value="foobared" />
        <env name="TOE_REDIS_LOGGING_IP" value="127.0.0.1" />
        <env name="TOE_REDIS_LOGGING_PORT" value="6379" />
<!--        <env name="TOE_RESET_ACCOUNT_EMAIL" value="" />-->
<!--        <env name="TOE_RESET_CLIENT_ID" value="" />-->
<!--        <env name="TOE_RESET_CLIENT_SECRET" value="" />-->
<!--        <env name="TOE_RESET_REFRESH_TOKEN" value="" />-->
    </php>
</phpunit>