<div layout="row" layout-align="center center">
	<div layout="column" layout-align="start start">
		<div flex>
			<h1>Reset Your Trick Or Eat Password</h1>
		</div>
		<div ng-if="validToken === true && resetSuccess === false">
			<div flex>
				<span class="error" ng-if="responseMessage">{{responseMessage}}</span>
			</div>
			<form ng-submit="resetPassword(newPassword)">
				<div flex>
					<md-input-container>
						<label for="new-password">New password:</label>
						<input name="new-password" id="new-password" ng-model="newPassword" type="password" required>
					</md-input-container>
				</div>
				<div flex>
					<md-input-container>
						<label for="confirm-password">New password (again):</label>
						<input name="confirm-password" id="confirm-password" ng-model="confirmPassword" type="password" required>
					</md-input-container>
				</div>
				<div flex>
					<md-button class="md-raised md-primary" type="submit" ng-click="resetPassword(newPassword)" ng-disabled="newPassword == '' || newPassword != confirmPassword">{{submitText}}</md-button>
					<md-button class="md-raised md-accent" type="button" href="{{locationPaths.home}}">Cancel</md-button>
				</div>
			</form>
		</div>
		<div flex="40" ng-if="validToken === false">
			<p>It looks like this password reset link can't be used anymore. This probably means that you sent us another password reset request; in that case you'll need to use the newer reset link.</h3>
		</div>
		<div flex="40" ng-if="resetSuccess === true">
			<p>Your password has been successfully changed. You may now login using the new password.</p>
		</div>
	</div>
</div>